# Assignment 3
Given a bank customer, build a neural network-based classifier that can determine whether they will leave or not in the next 6 months. Dataset Description: The case study is from an open-source dataset from Kaggle. The dataset contains 10,000 sample points with 14 distinct features such as CustomerId, CreditScore, Geography, Gender, Age, Tenure, Balance, etc. Link to the Kaggle project: https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling <br>
Perform following steps:
1. Read the dataset.
2. Distinguish the feature and target set and divide the data set into training and test sets.
3. Normalize the train and test data. 4. Initialize and build the model. Identify the points of improvement and implement the same.
4. Print the accuracy score and confusion matrix (5 points).

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from keras.models import Sequential
from keras.layers import Dense, Dropout

ModuleNotFoundError: No module named 'keras'

In [4]:
df = pd.read_csv('./datasets/churn_modelling.csv', index_col='RowNumber')
df.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
RowNumber,,,,,,,,,,,,,
1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
X = df.drop(["CustomerId", "Surname", "Exited"], axis=1)
Y = df["Exited"]

In [6]:
pipeline = Pipeline(
    [
        ('Categorizer', ColumnTransformer(
            [
                ("Gender Label Encoder", OneHotEncoder(categories = 'auto', drop = 'first'), [2]),
                ("Geography Label Encoder", OneHotEncoder(categories = 'auto', drop = 'first'), [1])
            ], 
            remainder = 'passthrough', n_jobs = 1)),
        ('Normalizer', StandardScaler())
    ]
)

In [7]:
X = pipeline.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=1)

In [8]:
classifier = Sequential([
	Dense(6, activation = 'relu', input_shape = (X_train.shape[1], )),
	Dropout(rate = 0.1),
	Dense(6, activation = 'relu'),
	Dropout(rate = 0.1),
	Dense(1, activation = 'sigmoid')
])
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

classifier.summary()

NameError: name 'Sequential' is not defined

In [9]:
history = classifier.fit(X_train, y_train, batch_size=32, epochs=200, validation_split=0.1, verbose=1)

NameError: name 'classifier' is not defined

In [10]:
sns.lineplot(history.history)
plt.show()

NameError: name 'history' is not defined

In [11]:
y_pred = classifier.predict(X_test)
pd.DataFrame(y_pred).head()

NameError: name 'classifier' is not defined

In [12]:
cm = confusion_matrix(y_test, (y_pred > 0.5).astype(int))
print(cm)

NameError: name 'y_pred' is not defined

In [48]:
print(((cm[0][0] + cm[1][1])* 100) / len(y_test), '% of data was classified correctly')

85.6 % of data was classified correctly